{% extends 'base.html.twig' %}

{% block body %}

<h1 class="mt-5 mb-5"> {{  title   }} </h1>

<h3 class="pb-5 mb-5">Bienvenu sur notre Premier site marchand !</h3>
<h5>Nous améliorons quotidiennement le site avec des mises à jours et corrections d'erreur. Merci pour votre patiente et amusez vous bien !
</h5>

{% endblock %}
